<!DOCTYPE html>

<html data-ng-app="KingCraft">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>KingCraft</title>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link href="~/Content/css/min/site.min.css" rel="stylesheet" />
    <script src="~/Scripts/js/jquery.js"></script>
    <script src="~/Scripts/js/morris.js"></script>
    <script src="~/Scripts/js/raphael.js"></script>
    <script src="~/Scripts/js/angular.js"></script>
    <script src="~/Scripts/js/angular-route.js"></script>
</head>
<body data-ng-controller="AppController">
    @RenderBody()

    <script src="~/app/app.js"></script>
    <script src="~/app/app-ctrl.js"></script>
</body>
</html>
